<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a [popover]="myPopover" class="new" style="font-size:20px;" popoverPlacement="bottom">New
              List</a>
          </div>
          <div>
          </div>
        </div>
      </nav>

      <popover-content #myPopover title="Add New List" [animation]="true" [closeOnClickOutside]="true"
        style="margin-left: 50px;" class="popover">
        <form (submit)="addlist($event)" style="font-size:12px; width: 500px;">
          <input [(ngModel)]="newList" (keyup.enter)="newList=''" class="textfield" name="newList">
          <button type="submit" [disabled]="newList===''">Add New
            List</button>
        </form>
      </popover-content>
      <div class="grid grid-pad">
        <a *ngFor="let list of lists ; let i=index" [routerLink]="['/tasklist', i]" class="col-1-4" (click)='index(i)'>
          <div class="module hero">
            <h4>{{list.newList}}</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="lists">

      <div [hidden]="newList">
        Type in a new List...
      </div>

      <div [hidden]="!newList">
        Typing: {{ newList }}
      </div>

      <ul>
        <li *ngFor="let list of lists; let i=index">
          <input type="checkbox" class="checkbox" [(ngModel)]="list.completed" style="display: inline-block;">
          <span [ngClass]="{'checked': list.completed}">{{ list.newList }}</span>
        </li>
      </ul>

      <div class="mtop20">
        <button (click)="deleteSelectedlists()">Delete Selected</button>
      </div>

    </div>

  </div>
</div>